interactions:
- request:
    body: Text=Bill+Gatas&Mode=proof
    headers:
      Content-Type: [application/x-www-form-urlencoded]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: POST
    uri: https://api.cognitive.microsoft.com/bing/v7.0/spellcheck
  response:
    body: {string: '{"_type": "SpellCheck", "flaggedTokens": [{"_type": "Spelling\/FlaggedToken",
        "offset": 5, "token": "Gatas", "type": "UnknownToken", "suggestions": [{"_type":
        "Spelling\/TokenSuggestion", "suggestion": "Gates", "score": 0.887992481895458}]}]}'}
    headers:
      bingapis-market: [en-US]
      bingapis-sessionid: [DCA497186670422F81E0A9C928EF67E8]
      bingapis-traceid: [19CD66F62A774E4589EDFFFBD56F24E6]
      content-type: [application/json; charset=utf-8]
      x-msapi-userstate: [808a]
      x-msedge-clientid: [1E3F71893BF061881C4F7AFB3A67607B]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bingcustomsearch/v7.0/search?customConfig=1&mkt=en-us&q=xbox
  response:
    body: {string: '{"_type": "SearchResponse", "instrumentation": {"_type": "Instrumentation",
        "pingUrlBase": "https:\/\/www.bingapis.com\/api\/ping?IG=2A3C476BEFD4477EAEC21A751AC6EEB3&CID=11C3299B531567C73B6B22E9528266D1&ID=",
        "pageLoadPingUrl": "https:\/\/www.bingapis.com\/api\/ping\/pageload?IG=2A3C476BEFD4477EAEC21A751AC6EEB3&CID=11C3299B531567C73B6B22E9528266D1&Type=Event.CPT&DATA=0"},
        "queryContext": {"_type": "QueryContext", "originalQuery": "xbox"}, "webPages":
        {"_type": "Web\/WebAnswer", "webSearchUrl": "https:\/\/www.bing.com\/search?q=xbox",
        "webSearchUrlPingSuffix": "DevEx,5438.1", "totalEstimatedMatches": 9870000,
        "value": [{"_type": "WebPage", "id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.0",
        "name": "Microsoft Office help and training - Office Support", "url": "https:\/\/support.office.com\/",
        "urlPingSuffix": "DevEx,5092.1", "displayUrl": "https:\/\/support.office.com",
        "snippet": "Help for all Office apps. Set up your Office 365 subscription.
        Find how-to articles and video tutorials. Contact our Answer Techs for assisted
        support.", "deepLinks": [{"_type": "WebPage", "name": "Outlook", "url": "https:\/\/support.office.com\/en-us\/outlook",
        "urlPingSuffix": "DevEx,5082.1"}, {"_type": "WebPage", "name": "Contact Us",
        "url": "https:\/\/support.office.com\/home\/contact", "urlPingSuffix": "DevEx,5083.1"},
        {"_type": "WebPage", "name": "Install", "url": "https:\/\/support.office.com\/en-us\/article\/Download-and-install-or-reinstall-Office-365-or-Office-2016-on-a-PC-or-Mac-4414EAAF-0478-48BE-9C42-23ADC4716658",
        "urlPingSuffix": "DevEx,5084.1"}, {"_type": "WebPage", "name": "Word", "url":
        "https:\/\/support.office.com\/en-us\/word", "urlPingSuffix": "DevEx,5085.1"},
        {"_type": "WebPage", "name": "Excel", "url": "https:\/\/support.office.com\/en-us\/excel",
        "urlPingSuffix": "DevEx,5086.1"}, {"_type": "WebPage", "name": "PowerPoint",
        "url": "https:\/\/support.office.com\/en-us\/powerpoint", "urlPingSuffix":
        "DevEx,5087.1"}], "dateLastCrawled": "2018-01-03T19:08:00.0000000Z", "cachedPageUrl":
        "http:\/\/cc.bingj.com\/cache.aspx?q=xbox&d=4662682677412904&mkt=en-US&setlang=en-US&w=Sc1qFcEm5bNIV6vJqcZunSzjFOzNWoRA",
        "cachedPageUrlPingSuffix": "DevEx,5093.1", "openGraphImage": {"_type": "ImageObject",
        "contentUrl": "https:\/\/support.office.com\/Images\/SOC_SharingImage_720x405.png",
        "width": 0, "height": 0}}, {"_type": "WebPage", "id": "https:\/\/api.cognitive.microsoft.com\/api\/v7\/#WebPages.1",
        "name": "Access 2016 Quick Start", "url": "https:\/\/support.office.com\/en-us\/article\/Access-2016-Quick-Start-f200d95b-e429-4acc-98c1-b883d4e9fc0a",
        "urlPingSuffix": "DevEx,5109.1", "displayUrl": "https:\/\/support.office.com\/en-us\/article\/Access-2016-Quick-Start-f...",
        "snippet": "Access 2016 Quick Start. Create a database Manage a database Get
        help and training ... Xbox One X; Xbox One S; VR & mixed reality; Windows
        10 apps; Office apps; Store ...", "dateLastCrawled": "2018-01-02T13:57:00.0000000Z",
        "searchTags": [{"_type": "Web\/MetaTag", "name": "search.applicationsuite",
        "content": "\"Access\"; access"}, {"_type": "Web\/MetaTag", "name": "search.appverid",
        "content": "\"ZAC160\"; zac160"}, {"_type": "Web\/MetaTag", "name": "search.assetid",
        "content": "\"f200d95b-e429-4acc-98c1-b883d4e9fc0a\"; f200d95b; e429; 4acc;
        98c1; b883d4e9fc0a"}, {"_type": "Web\/MetaTag", "name": "search.audiencetype",
        "content": "\"End User\"; end; user"}, {"_type": "Web\/MetaTag", "name": "search.contenttype",
        "content": "\"Training\"; training"}, {"_type":[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/entities?mkt=en-us&q=tom%20cruise
  response:
    body: {string: '{"_type": "SearchResponse", "queryContext": {"_type": "QueryContext",
        "originalQuery": "tom cruise"}, "entities": {"_type": "Entities", "value":
        [{"_type": "Thing", "contractualRules": [{"_type": "ContractualRules\/LicenseAttribution",
        "targetPropertyName": "description", "mustBeCloseToContent": true, "license":
        {"_type": "License", "name": "CC-BY-SA", "url": "http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/"},
        "licenseNotice": "Text under CC-BY-SA license"}, {"_type": "ContractualRules\/LinkAttribution",
        "targetPropertyName": "description", "mustBeCloseToContent": true, "text":
        "Wikipedia", "url": "http:\/\/en.wikipedia.org\/wiki\/Tom_Cruise"}, {"_type":
        "ContractualRules\/MediaAttribution", "targetPropertyName": "image", "mustBeCloseToContent":
        true, "url": "http:\/\/www.imdb.com\/name\/nm0000129\/"}], "webSearchUrl":
        "https:\/\/www.bing.com\/search?q=Tom+Cruise&filters=sid:%22fdc9ba0e-f198-b3c3-3cad-cf81595a654c%22&elv=AXXfrEiqqD9r3GuelwApulpthuUfa!NKSCxL3hiOQ*7NU6O9UcpAzHER1o7yT7ZlwhsCod95VlliXy*jCIE0bpO*wVswxRmUKr6Q9gpdmtcD",
        "name": "Tom Cruise", "url": "http:\/\/www.tomcruise.com\/", "image": {"_type":
        "ImageObject", "name": "The thing about filmmaking is I give it everything,
        that''s why I work so hard. I always tell young actors to take charge. It''s
        not that hard. Sign your own checks, be responsible.", "thumbnailUrl": "https:\/\/www.bing.com\/th?id=Acf56e67b7cc2c2cbff9de810b1c93e0c&w=110&h=110&c=12&rs=1&qlt=80&cdv=1&pid=16.2",
        "provider": [{"_type": "Organization", "url": "http:\/\/www.imdb.com\/name\/nm0000129\/"}],
        "hostPageUrl": "https:\/\/images-na.ssl-images-amazon.com\/images\/M\/MV5BMTk1MjM3NTU5M15BMl5BanBnXkFtZTcwMTMyMjAyMg@@._V1_UY317_CR14,0,214,317_AL_.jpg",
        "width": 110, "height": 110, "sourceWidth": 202, "sourceHeight": 300}, "description":
        "Thomas Cruise Mapother IV, known professionally as Tom Cruise, is an American
        actor and producer. He has been nominated for three Academy Awards and has
        won three Golden Globe Awards. He started his career at age 19 in the film
        Endless Love.", "entityPresentationInfo": {"_type": "Entities\/EntityPresentationInfo",
        "entityScenario": "DominantEntity", "entityTypeHints": ["Actor"], "entityTypeDisplayHint":
        "Actor"}, "bingId": "fdc9ba0e-f198-b3c3-3cad-cf81595a654c"}]}}'}
    headers:
      bingapis-market: [en-US]
      bingapis-sessionid: [8D5C21984E7B47E8A8FCCAE271AFC9CF]
      bingapis-traceid: [E38C33A6FC25435C9E73FAECC249FF87]
      content-type: [application/json; charset=utf-8]
      x-msapi-userstate: ['1426']
      x-msedge-clientid: [06F8F33B24D6621F3446F849254163B2]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/entities?mkt=en-us&q=harry%20potter
  response:
    body: {string: "{\"_type\": \"SearchResponse\", \"queryContext\": {\"_type\":\
        \ \"QueryContext\", \"originalQuery\": \"harry potter\"}, \"entities\": {\"\
        _type\": \"Entities\", \"value\": [{\"_[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/entities?mkt=en-us&q=john%20howie%20bellevue
  response:
    body: {string: '{"_type": "SearchResponse", "queryContext": {"_type": "QueryContext",
        "originalQuery": "john howie bellevue"}, "places": {"_type": "Places", "value":
        [{"_type": "Restaurant", "webSearchUrl": "https:\/\/www.bing.com\/search?q=John+Howie+Steak&filters=local_ypid:%22YN873x130652351%22&elv=AXXfrEiqqD9r3GuelwApulpthuUfa!NKSCxL3hiOQ*7NU6O9UcpAzHER1o7yT7ZlwhsCod95VlliXy*jCIE0bpO*wVswxRmUKr6Q9gpdmtcD",
        "name": "John Howie Steak", "url": "http:\/\/www.johnhowiesteak.com\/", "entityPresentationInfo":
        {"_type": "Entities\/EntityPresentationInfo", "entityScenario": "ListItem",
        "entityTypeHints": ["Place", "LocalBusiness", "Restaurant"]}, "address": {"_type":
        "PostalAddress", "addressLocality": "Bellevue", "addressRegion": "WA", "postalCode":
        "98004", "addressCountry": "US", "neighborhood": "Downtown"}, "telephone":
        "(425) 440-0880"}]}}'}
    headers:
      bingapis-market: [en-US]
      bingapis-sessionid: [E1A3F0627AE4473BA0D9A1A3F0ED9F50]
      bingapis-traceid: [48DE1C980B5247CC836B4A112BE5AFE3]
      content-type: [application/json; charset=utf-8]
      x-msapi-userstate: [fca9]
      x-msedge-clientid: [0F5A3F88E52B6EC60B7934FAE4BC6F77]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/entities?mkt=en-us&q=seattle%20restaurants
  response:
    body: {string: '{"_type": "SearchResponse", "queryContext": {"_type": "QueryContext",
        "originalQuery": "seattle restaurants"}, "places": {"_type": "Places", "value":
        [{"_type": "Restaurant[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/entities?mkt=no-ty&q=tom%20cruise
  response:
    body: {string: "\n              {\"_type\": \"ErrorResponse\", \"errors\": [{\"\
        _type\": \"Error\", \"code\": \"InvalidRequest\", \"subCode\": \"ParameterInvalidValue\"\
        , \"message\": \"Parameter has invalid value.\", \"moreDetails\": \"Invalid\
        \ value entered for mkt parameter. Only en-us market is allowed.\", \"parameter\"\
        : \"mkt\"}]}\n            "}
    headers:
      content-type: [application/json]
    status: {code: 400, message: Bad Request}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?q=canadian%20rockies
  response:
    body: {string: "{\"_type\": \"Images\", \"instrumentation\": {}, \"webSearchUrl\"\
        : \"https:\\/\\/www.bing.com\\/images\\/search?q=canadian%20rockies&FORM=OIIARP\"\
        , \"totalEstimatedMatches\": 871, \"nextOffset\": 35, \"value\": [{\"webSearchUrl\"\
        : \"https:\\/\\/www.bing.com\\/images\\/search?view=detailv2&FORM=OIIRPO&q=canadian+rockies&id=A5FED5DFF8663281FC24F633786197A61391327C&simid=608044260170272497\"\
        , \"name\": \"Canadian Rockies, Canada ~ Fly Travel\", \"thumbnailUrl\": \"\
        https:\\/\\/tse2-2.mm.bing.net\\/th?id=OIP.Loi3y32M0NgMXjSmB9Q4oQHaFj&pid=Api\"\
        , \"datePublished\": \"2011-08-29T12:00:00.0000000Z\", \"contentUrl\": \"\
        http:\\/\\/3.bp.blogspot.com\\/-Exe1WWjp4HI\\/TluJ4YFCtdI\\/AAAAAAAAAKc\\\
        /Cv6TMjyCDyI\\/s1600\\/Bow_Lake_Canadian_Rockies_Alberta.jpg\", \"hostPageUrl\"\
        : \"http:\\/\\/flytravels.blogspot.com\\/2011\\/08\\/canadian-rockies-canada.html\"\
        , \"contentSize\": \"500079 B\", \"encodingFormat\": \"jpeg\", \"hostPageDisplayUrl\"\
        : \"flytravels.blogspot.com\\/2011\\/08\\/canadian-rockies-canada.html\",\
        \ \"width\": 1600, \"height\": 1200, \"thumbnail\": {\"width\": 474, \"height\"\
        : 355}, \"imageInsightsToken\": \"ccid_Loi3y32M*mid_A5FED5DFF8663281FC24F633786197A61391327C*simid_608044260170272497*thid_OIP.Loi3y32M0NgMXjSmB9Q4oQHaFj\"\
        , \"insightsMetadata\": {\"recipeSourcesCount\": 0, \"bestRepresentativeQuery\"\
        : {\"text\": \"Canadian Rockies Bow Lake Alberta\", \"displayText\": \"Canadian\
        \ Rockies Bow Lake Alberta\", \"webSearchUrl\": \"https:\\/\\/www.bing.com\\\
        /images\\/search?q=Canadian+Rockies+Bow+Lake+Alberta&id=A5FED5DFF8663281FC24F633786197A61391327C&FORM=IDBQDM\"\
        }, \"pagesIncludingCount\": 138, \"availableSizesCount\": 41}, \"imageId\"\
        : \"A5FED5DFF8663281FC24F633786197A61391327C\", \"accentColor\": \"0566C6\"\
        }, {\"webSearchUrl\": \"https:\\/\\/www.bing.com\\/images\\/search?view=detailv2&FORM=OIIRPO&q=canadian+rockies&id=F4C19B1CFB84EF72E050B8864DA9FC78C2AD0E44&simid=608036950185086857\"\
        , \"name\": \"World Visits: Trip To Canadian Rockies, Natural Beauty\", \"\
        thumbnailUrl\": \"https:\\/\\/tse3-2.mm.bing.net\\/th?id=OIP.vap_VPkjpahfBe6FA4tjTgHaFj&pid=Api\"\
        , \"datePublished\": \"2014-06-01T20:42:00.0000000Z\", \"contentUrl\": \"\
        http:\\/\\/3.bp.blogspot.com\\/-_DFe-4LgMmE\\/T0u77tDFEiI\\/AAAAAAAAGt0\\\
        /IJChQXWCvDI\\/s1600\\/Moraine+Lake,+Canadian+Rockies.jpg\", \"hostPageUrl\"\
        : \"http:\\/\\/world-visits.blogspot.com\\/2012\\/02\\/trip-to-canadian-rockies-natural-beauty.html\"\
        , \"contentSize\": \"84595 B\", \"encodingFormat\": \"jpeg\", \"hostPageDisplayUrl\"\
        : \"world-visits.blogspot.com\\/2012\\/02\\/trip-to-canadian-rockies-natural...\"\
        , \"width\": 800, \"height\": 600, \"thumbnail\": {\"width\": 474, \"height\"\
        : 355}, \"imageInsightsToken\": \"ccid_vap\\/VPkj*mid_F4C19B1CFB84EF72E050B8864DA9FC78C2AD0E44*simid_608036950185086857*thid_OIP.vap\\\
        \\_VPkjpahfBe6FA4tjTgHaFj\", \"insightsMetadata\": {\"recipeSourcesCount\"\
        : 0, \"bestRepresentativeQuery\": {\"text\": \"Lake Moraine Canadian Rockies\"\
        , \"displayText\": \"Lake Moraine Canadian Rockies\", \"webSearchUrl\": \"\
        https:\\/\\/www.bing.com\\/images\\/search?q=Lake+Moraine+Canadian+Rockies&id=F4C19B1CFB84EF72E050B8864DA9FC78C2AD0E44&FORM=IDBQDM\"\
        }, \"pagesIncludingCount\": 236, \"availableSizesCount\": 39}, \"imageId\"\
        : \"F4C19B1CFB84EF72E050B8864DA9FC78C2AD0E44\", \"accentColor\": \"0047B9\"\
        }, {\"webSearchUrl\": \"https:\\/\\/www.bing.com\\/images\\/search?view=detailv2&FORM=OIIRPO&q=canadian+rockies&id=EAE2791A2CB52257A70016E0C737C5EDB38AF623&simid=608042645301889524\"\
        , \"name\": \"Canadian Rockies Vacations Guide - Banff National Park | Canadian\
        \ Rockies Vacation Guide \u2013 Banff ...\", \"thumbnailUrl\": \"https:\\\
        /\\/tse2-2.mm.bing.net\\/th?id=OIP.ZBV81v15-8LmhCo8JliAPAHaCu&pid=Api\", \"\
        datePublished\": \"2017-12-27T21:16:00.0000000Z\", \"contentUrl\": \"http:\\\
        /\\/www.canadianrockies.net\\/wp-content\\/uploads\\/2015\\/05\\/rocky-mountain-high.jpg\"\
        , \"hostPageUrl\": \"http:\\/\\/www.canadianrockies.net\\/\", \"contentSize\"\
        : \"305719 B\", \"encodingFormat\": \"jpeg\", \"hostPageDisplayUrl\": \"www.canadianrockies.net\"\
        , \"width\": 1900, \"height\": 700, \"thumbnail\": {\"width\": 474, \"height\"\
        : 174}, \"imageInsightsToken\": \"ccid_ZBV81v15*mid_EAE2791A2CB52257A70016E0C737C5EDB38AF623*simid_608042645301889524*thid_OIP.ZBV81v15-8LmhCo8JliAPAHaCu\"\
        , \"insightsMetadata\": {\"recipeSourcesCount\": 0, \"bestRepresentativeQuery\"\
        : {\"text\": \"Canadian Rocky Mountains\", \"displayText\": \"Canadian Rocky\
        \ Mountains\", \"webSearchUrl\": \"https:\\/\\/www.bing.com\\/images\\/search?q=Canadian+Rocky+Mountains&id=EAE2791A2CB52257A70016E0C737C5EDB38AF623&FORM=IDBQDM\"\
        }, \"pagesIncludingCount\": 11, \"availableSizesCount\": 2}, \"imageId\":\
        \ \"EAE2791A2CB52257A70016E0C737C5EDB38AF623\", \"accentColor\": \"0F80BC\"\
        }, {\"webSearchUrl\": \"https:\\/\\/www.bing.com\\/images\\/search?view=detailv2&FORM=OIIRPO&q=canadian+rockies&id=9E6585A56ED04884887FD440AAD7BB317002060B&simid=608048379091684370\"\
        , \"name\": \"Canadian Rockies, Canada 2011 | Travel And Tourism\", \"thumbnailUrl\"\
        : \"https:\\/\\/tse1-2.mm.bing.net\\/th?id=OIP.km7Q9Bun8Px9MIK8ybO6XAHaFj&pid=Api\"\
        , \"datePublished\": \"201[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?aspect=Wide&imageType=AnimatedGif&q=studio%20ghibli
  response:
    body: {string: '{"_type": "Images", "instrumentation": {}, "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=studio%20ghibli&FORM=OIIARP",
        "totalEstimatedMatches": 3[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/trending
  response:
    body: {string: '{"_type": "TrendingImages", "instrumentation": {}, "categories":
        [{"title": "Popular people searches", "tiles": [{"query": {"text": "Oprah
        Winfrey", "displayText": "Oprah Winfrey", "webSearchUrl": "https:\/\/www.bing.com\/images\/search?q=Oprah+Winfrey&FORM=ISTRTH&id=292D9F47846C393C601A1AFC2D7A9E0B8AB0A00F&cat=Popular%20people%20searches&lpversion="},
        "image": {"thumbnailUrl": "https:\/\/tse4.mm.bing.net\/th?id=OET.c4e7bf7386fd4d0e8ff343c504962039&pid=Api",
        "contentUrl": "https:\/\/www.algemeiner.com\/wp-content\/uploads\/2015\/08\/oprah1.jpeg",
        "thumbnail": {"width": 474, "height":[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/search?q=degas
  response:
    body: {string: "{\"_type\": \"Images\", \"instrumentation\": {}, \"readLink\"\
        : \"https:\\/\\/api.cognitive.microsoft.com\\/api\\/v7\\/images\\/search?q=degas\"\
        , \"webSearchUrl\": \"https:\\/\\/www.bing.com[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/images/details?insightsToken=ccid_sGbXtPJL%2Amid_86451AF0FCAF26574231F0D646E96520CE704B3F%2Asimid_608049835071901505%2Athid_OIP.sGbXtPJLgOt8i%5C_88mVkJDgHaFj&modules=All&q=degas
  response:
    body: {string: "{\"_type\": \"ImageInsights\", \"instrumentation\": {}, \"imageInsightsToken\"\
        : \"bcid_2B63103C3B473829DCC4F03074E157E6*ccid_sGbXtPJL*mid_86451AF0FCAF26574231F0D646E96520CE704B3F*simid_608049835071901505\"\
        , \"bestRepresentativeQuery\": {\"text\": \"Edgar Degas Paintings\", \"displayText\"\
        : \"Edgar Degas Paintings\", \"webSearchUrl\": \"https:\\/\\/www.bing.com\\\
        /images\\/search?q=Edgar+Degas+Paintings&id=86451AF0FCAF26574231F0D646E96520CE704B3F&FORM=IDBQDM\"\
        }, \"imageCaption\": {\"caption\": \"Degas was most known for his dance images.\"\
        , \"dataSourceUrl\": \"http:\\/\\/artsandfacts.blogspot.co.uk\\/2012_02_01_archive.html\"\
        , \"relatedSearches\": []}, \"pagesIncluding\": {\"value\": [{\"webSearchUrl\"\
        : \"https:\\/\\/www.bing.com\\/images\\/search?view=detailv2&FORM=OIIRPO&q=degas&id=F73C72C3B3328B2DEE89F34B4E4EACAFE21CC40F&simid=608024679454280998\"\
        , \"name\": \"work of junk: Day 6|| Artist of the day\\/\\/ Degas\", \"thumbnailUrl\"\
        : \"https:\\/\\/tse4.mm.bing.net\\/th?id=OIP.ekwShWf2KqzA5w5mng9lQQEgDY&pid=Api\"\
        , \"datePublished\": \"2012-08-02T12:00:00.0000000Z\", \"contentUrl\": \"\
        http:\\/\\/www.arts-wallpaper[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/news/search?count=10&mkt=en-us&q=Quantum%20Computing
  response:
    body: {string: "{\"_type\": \"News\", \"readLink\": \"https:\\/\\/api.cognitive.microsoft.com\\\
        /api\\/v7\\/news\\/search?q=Quantum+Computing\", \"queryContext\": {\"_type\"\
        : \"QueryContext\", \"originalQuery\": \"Quantum Computing\", \"adultIntent\"\
        : false}, \"totalEstimatedMatches\": 22300, \"sort\": [{\"_type\": \"SortValue\"\
        , \"name\": \"Best match\", \"id\": \"relevance\", \"isSelected\": true, \"\
        url\": \"https:\\/\\/api.cognitive.microsoft.com\\/api\\/v7\\/news\\/search?q=Quantum+Computing\"\
        }, {\"_type\": \"SortValue\", \"name\": \"Most recent\", \"id\": \"date\"\
        , \"isSelected\": false, \"url\": \"https:\\/\\/api.cognitive.microsoft.com\\\
        /api\\/v7\\/news\\/search?q=Quantum+Computing&sortby=date\"}], \"value\":\
        \ [{\"_type\": \"NewsArticle\", \"name\": \"CES 2018: Intel announces 'major\
        \ breakthrough' in quantum computing chip\", \"url\": \"http:\\/\\/www.zdnet.com\\\
        /article\\/ces-2018-intel-announces-major-breakthrough-in-quantum-computing-chip\\\
        /\", \"image\": {\"_type\": \"ImageObject\", \"thumbnail\": {\"_type\": \"\
        ImageObject\", \"contentUrl\": \"https:\\/\\/www.bing.com\\/th?id=ON.6E7A564CE45C1A634B63180CB7BCACA8&pid=News\"\
        , \"width\": 700, \"height\": 524}}, \"description\": \"Intel has announced\
        \ a 49-qubit quantum chip at CES 2018, with CEO Brian Krzanich calling it\
        \ a major breakthrough in quantum computing and the next step to \\\"quantum\
        \ supremacy\\\". The Big Trends for Business CES showcases the tech trends\
        \ that will shape the ...\", \"about\": [{\"_type\": \"Thing\", \"readLink\"\
        : \"https:\\/\\/api.cognitive.microsoft.com\\/api\\/v7\\/entities\\/7bfef1c1-5ff1-f982-bec0-1b930222148c\"\
        , \"name\": \"Intel Corporation\"}, {\"_type\": \"Thing\", \"readLink\": \"\
        https:\\/\\/api.cognitive.microsoft.com\\/api\\/v7\\/entities\\/94f2cc12-53ea-f4df-fdac-4eccaceebb6f\"\
        , \"name\": \"Major\"}, {\"_type\": \"Thing\", \"readLink\": \"https:\\/\\\
        /api.cognitive.microsoft.com\\/api\\/v7\\/entities\\/6a7305f4-4c7b-8466-8e2f-11ef655f3b64\"\
        , \"name\": \"Breakthrough\"}], \"provider\": [{\"_type\": \"Organization\"\
        , \"name\": \"ZDNet\", \"image\": {\"_type\": \"ImageObject\", \"thumbnail\"\
        : {\"_type\": \"ImageObject\", \"contentUrl\": \"https:\\/\\/www.bing.com\\\
        /th?id=ON.SIR01040347f7ca5e6abc81a56bf46176b7fdab5253&pid=News\"}}}], \"datePublished\"\
        : \"2018-01-09T14:44:00.0000000Z\", \"category\": \"ScienceAndTechnology\"\
        }, {\"_type\": \"NewsArticle\", \"name\": \"Intel debuts 49-qubit quantum\
        \ chip as it wrestles with Meltdown, Spectre fallout\", \"url\": \"https:\\\
        /\\/www.pcworld.com\\/article\\/3246275\\/ces\\/intel-debuts-49-qubit-quantum-chip-as-it-wrestles-with-meltdown-spectre.html\"\
        , \"image\": {\"_type\": \"ImageObject\", \"thumbnail\": {\"_type\": \"ImageObject\"\
        , \"contentUrl\": \"https:\\/\\/www.bing.com\\/th?id=ON.0EE0CA21BAC[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/news/search?freshness=Week&mkt=en-us&q=Artificial%20Intelligence&sortBy=Date
  response:
    body: {string: "{\"_type\": \"News\", \"readLink\": \"https:\\/\\/api.cognitive.microsoft.com\\\
        /api\\/v7\\/news\\/search?q=Artificial+Intelligence\", \"queryContext\": {\"\
        _type\": \"QueryContext\", \"originalQuery\": \"Artificial Intelligence\"\
        , \"adultIntent\": false}, \"totalEstimatedMatches\": 270000, \"sort\": [{\"\
        _type\": \"SortValue\", \"name\": \"Best match\", \"id\": \"relevance\", \"\
        isSelected\": false, \"url\": \"https:\\/\\/api.cognitive.microsoft.com\\\
        /api\\/v7\\/news\\/search?q=Artificial+Intelligence\"}, {\"_type\": \"SortValue\"\
        , \"name\": \"Most recent\", \"id\": \"date\", \"isSelected\": true, \"url\"\
        : \"https:\\/\\/api.cognitive.microsoft.com\\/api\\/v7\\/news\\/search?q=Artificial+Int[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/news?category=Entertainment_MovieAndTV&mkt=en-us&safeSearch=strict
  response:
    body: {string: "{\"_type\": \"News\", \"webSearchUrl\": \"https:\\/\\/www.bing.com\\\
        /news\\/search?q=Movie+%26+TV+News&form=TNSA02\", \"value\": [{\"_type\":\
        \ \[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/news/trendingtopics?mkt=en-us
  response:
    body: {string: "{\"_type\": \"TrendingTopics\", \"value\": [{\"_type\": \"News\\\
        /Topic\", \"webSearchUrl\": \"https:\\/\\/www.bing.com\\/search?q=Ivanka+Oprah&form=TNSA01&filters=tnTID%3a%22BDA38620-B410-4445-86CA-6A5EBC2B3460%22+tnVersion%3a%222291960%22+Segment%3a%22popularnow.carousel%22+tnCol%3a%220%22+tnScenario%3a%22TrendingTopicsAPI%22+tnOrder%3a%2244e2b859-cf17-4e35-ad76-2515c0bc3efd%22\"\
        , \"name\": \"Criticized for tweet\", \"image\": {\"_type\": \"ImageObject\"\
        , \"url\": \"https:\\/\\/www.bing.com\\/th?id=OPN.RTNews_mnMN9fCjt7NHp8_hLlADFw&c=14&rs=2&qlt=80&pcl=f9f9f9&pid=News\"\
        , \"provider\": [{\"_type\": \"Organization\", \"name\": \"\xA9 Manish Swarup\\\
        /AP; Paul Drinkwater\\/NBC\\/AP\"}]}, \"isBreakingNews\": false, \"query\"\
        : {\"_type\": \"Query\", \"text\": \"Ivanka Oprah\"}, \"newsSearchUrl\": \"\
        https:\\/\\/www.bing.com\\/news\\/search?q=Ivanka+Oprah&form=TNSA02&filters=tnTID%3a%22BDA38620-B410-4445-86CA-6A5EBC2B3460%22+tnVersion%3a%222291960%22+Segment%3a%22popularnow.carousel%22+tnCol%3a%220%22+tnScenario%3a%22TrendingTopicsAPI%22+tnOrder%3a%2244e2b859-cf17-4e35-ad76-2515c0bc3efd%22\"\
        }, {\"_type\": \"News\\/Topic\", \"webSearchUrl\": \"https:\\/\\/www.bing.com\\\
        /search?q=Target+holiday+sales&form=TNSA01&filters=tnTID%3a%2291020418-E7D3-44e9-AFDE-1EF9C5[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/videos/search?q=Nasa%20CubeSat
  response:
    body: {string: "{\"_type\": \"Videos\", \"instrumentation\": {}, \"webSearchUrl\"\
        : \"https:\\/\\/www.bing.com\\/videos\\/search?q=Nasa%20CubeSat\", \"totalEstimatedMatches\"\
        : 1000, \"value\": [{\"webSearchUrl\": \"https:\\/\\/www.bing.com\\/videos\\\
        /search?q=Nasa%20CubeSat&view=detail&mid=766D5B82E4B9817C321A766D5B82E4B9817C321A\"\
        , \"name\": \"SmallSats Launched to Test New Tech\", \"description\": \"Four\
        \ NASA-sponsored CubeSats and a NASA-funded CubeSat, sponsored by the National\
        \ Reconnaissance Office (NRO), were among thirteen small spacecraft launched\
        \ ...\", \"thumbnailUrl\": \"https:\\/\\/tse4.mm.bing.net\\/th?id=OVP.UdvELgsLTwEj5YG0sisaHwEsDh&pid=Api\"\
        , \"datePublished\": \"2015-10-08T13:01:08.0000000\", \"publisher\": [{\"\
        name\": \"YouTube\"}], \"creator\": {\"name\": \"NASA\"}, \"isAccessibleForFree\"\
        : true, \"contentUrl\": \"https:\\/\\/www.youtube.com\\/watch?v=c2MOF0tobOo\"\
        , \"hostPageUrl\": \"https:\\/\\/www.youtube.com\\/watch?v=c2MOF0tobOo\",\
        \ \"encodingFormat\": \"h264\", \"hostPageDisplayUrl\": \"https:\\/\\/www.youtube.com\\\
        /watch?v=c2MOF0tobOo\", \"width\": 1280, \"height\": 720, \"duration\": \"\
        PT5M3S\", \"motionThumbnailUrl\": \"https:\\/\\/tse1.mm.bing.net\\/th?id=OM2.GjJ8gbnkglttdg_1513908542&pid=Api\"\
        , \"embedHtml\": \"<iframe width=\\\"1280\\\" height=\\\"720\\\" src=\\\"\
        https:\\/\\/www.youtube.com\\/embed\\/c2MOF0tobOo?autoplay=1\\\" frameborder=\\\
        \"0\\\" allowfullscreen><\\/iframe>\", \"allowHttpsEmbed\": true, \"viewCount\"\
        : 16207, \"thumbnail\": {\"width\": 300, \"height\": 225}, \"videoId\": \"\
        766D5B82E4B9817C321A766D5B82E4B9817C321A\", \"allowMobileEmbed\": true, \"\
[...]
