interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/entities?mkt=en-us&q=tom%20cruise
  response:
    body: {string: '{"_type": "SearchResponse", "queryContext": {"_type": "QueryContext",
        "originalQuery": "tom cruise"}, "entities": {"_type": "Entities", "value":
        [{"_type": "Thing", "contractualRules": [{"_type": "ContractualRules\/LicenseAttribution",
        "targetPropertyName": "description", "mustBeCloseToContent": true, "license":
        {"_type": "License", "name": "CC-BY-SA", "url": "http:\/\/creativecommons.org\/licenses\/by-sa\/3.0\/"},
        "licenseNotice": "Text under CC-BY-SA license"}, {"_type": "ContractualRules\/LinkAttribution",
        "targetPropertyName": "description", "mustBeCloseToContent": true, "text":
        "Wikipedia", "url": "http:\/\/en.wikipedia.org\/wiki\/Tom_Cruise"}, {"_type":
        "ContractualRules\/MediaAttribution", "targetPropertyName": "image", "mustBeCloseToContent":
        true, "url": "http:\/\/en.wikipedia.org\/wiki\/Tom_Cruise"}], "webSearchUrl":
        "https:\/\/www.bing.com\/search?q=Tom+Cruise&filters=sid:%22fdc9ba0e-f198-b3c3-3cad-cf81595a654c%22&elv=AXXfrEiqqD9r3GuelwApulrSKl4rxP2Ue4ITlvznTXnE5yHzhQ20AGwWRILlXT5qkrdhycBtBrULxjHTcOm05cOKJF*3QFm33H2yF0QsqyTr",
        "name": "Tom Cruise", "url": "http:\/\/www.tomcruise.com\/", "image": {"_type":
        "ImageObject", "name": "The thing about filmmaking is I give it everything,
        that''s why I work so hard. I always tell young actors to take charge. It''s
        not that hard. Sign your own checks, be responsible.", "thumbnailUrl": "https:\/\/www.bing.com\/th?id=Ac39434661a09a3d49138d28b1d25c6db&w=110&h=110&c=12&rs=1&qlt=80&cdv=1&pid=16.2",
        "provider": [{"_type": "Organization", "url": "http:\/\/en.wikipedia.org\/wiki\/Tom_Cruise"}],
        "hostPageUrl": "http:\/\/img.radio.cz\/pictures\/c\/herci\/cruise_tom.jpg",
        "width": 110, "height": 110}, "description": "Thomas Cruise Mapother IV, known
        professionally as Tom Cruise, is an American actor and producer. He has been
        nominated for three Academy Awards and has won three Golden Globe Awards.
        He started his career at age 19 in the film Endless Love.", "entityPresentationInfo":
        {"_type": "Entities\/EntityPresentationInfo", "entityScenario": "DominantEntity",
        "entityTypeHints": ["Actor"], "entityTypeDisplayHint": "Actor"}, "bingId":
        "fdc9ba0e-f198-b3c3-3cad-cf81595a654c"}]}}'}
    headers:
      bingapis-market: [en-US]
      bingapis-sessionid: [7DA5D4A171BD4552866DCB04E6136B52]
      bingapis-traceid: [502C44FD51334BBEB0FB3F4830862893]
      content-type: [application/json; charset=utf-8]
      x-msapi-userstate: [fa26]
      x-msedge-clientid: [3D84171C91B56EF6265B1C5D90226F8B]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/entities?mkt=en-us&q=harry%20potter
  response:
    body: {string: "{\"_type\": \"SearchResponse\", \"queryContext\": {\"_type\":\
        \ \"QueryContext\", \"originalQuery\": \"harry potter\"}, \"entities\": {\"\
        _type\": \"Entities\", \"value\": [{\"_[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/entities?mkt=en-us&q=john%20howie%20bellevue
  response:
    body: {string: '{"_type": "SearchResponse", "queryContext": {"_type": "QueryContext",
        "originalQuery": "john howie bellevue"}, "places": {"_type": "Places", "value":
        [{"_type": "Restaurant", "webSearchUrl": "https:\/\/www.bing.com\/search?q=John+Howie+Steak&filters=local_ypid:%22YN873x130652351%22&elv=AXXfrEiqqD9r3GuelwApulrSKl4rxP2Ue4ITlvznTXnE5yHzhQ20AGwWRILlXT5qkrdhycBtBrULxjHTcOm05cOKJF*3QFm33H2yF0QsqyTr",
        "name": "John Howie Steak", "url": "http:\/\/www.johnhowiesteak.com\/", "entityPresentationInfo":
        {"_type": "Entities\/EntityPresentationInfo", "entityScenario": "ListItem",
        "entityTypeHints": ["Place", "LocalBusiness", "Restaurant"]}, "address": {"_type":
        "PostalAddress", "addressLocality": "Bellevue", "addressRegion": "WA", "postalCode":
        "98004", "addressCountry": "US", "neighborhood": "Downtown"}, "telephone":
        "(425) 440-0880"}]}}'}
    headers:
      bingapis-market: [en-US]
      bingapis-sessionid: [5BD1B7BD6D4F40B59C5F5484ADDBEE3C]
      bingapis-traceid: [B47C39EBA609453AB54C06F9A54AFEC5]
      content-type: [application/json; charset=utf-8]
      x-msapi-userstate: ['8366']
      x-msedge-clientid: [37217896DB7767DA25FE73D7DAE06615]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/entities?mkt=en-us&q=seattle%20restaurants
  response:
    body: {string: '{"_type": "SearchResponse", "queryContext": {"_type": "QueryContext",
        "originalQuery": "seattle restaurants"}, "places": {"_type": "Places", "value":
        [{"_type": "LocalBusin[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/entities?mkt=no-ty&q=tom%20cruise
  response:
    body: {string: '{"_type": "ErrorResponse", "errors": [{"code": "RequestParameterInvalidValue",
        "message": "Parameter has invalid value. Only en-us market is allowed for
        Entity Search.", "parameter": "mkt", "value": "no-ty"}]}'}
    headers:
      content-type: [application/json]
    status: {code: 400, message: Bad Request}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?mkt=en-us&q=xbox
  response:
    body: {string: "{\"_type\": \"SearchResponse\", \"queryContext\": {\"_type\":\
        \ \"QueryContext\", \"originalQuery\": \"xbox\"}, \"webPages\": {\"_type\"\
        : \"Web\\/WebAnswer\", \"webSearchUrl\": \"https:\\/\\/www.bing.com\\/search?q=xbox\"\
        , \"totalEstimatedMatches\": 19800000, \"value\": [{\"_type\": \"WebPage\"\
        , \"id\": \"https:\\/\\/api.cognitive.microsoft.com\\/api\\/v7\\/#WebPages.0\"\
        , \"name\": \"Xbox | Official Site\", \"url\": \"https:\\/\\/www.xbox.com\\\
        /\", \"about\": [{\"_type\": \"Thing\", \"name\": \"Xbox\"}], \"displayUrl\"\
        : \"https:\\/\\/www.xbox.com\", \"snippet\": \"Experience the new generation\
        \ of games and entertainment with Xbox. Play Xbox games and stream video on\
        \ all your devices.\", \"deepLinks\": [{\"_type\": \"WebPage\", \"name\":\
        \ \"Xbox Live\", \"url\": \"https:\\/\\/www.xbox.com\\/en-US\\/live?xr%3Dshellnav\"\
        , \"snippet\": \"Xbox Live is where your gaming life comes together with the\
        \ games you love, the friends you play with, and the community that defines\
        \ you.\"}, {\"_type\": \"WebPage\", \"name\": \"Support\", \"url\": \"https:\\\
        /\\/support.xbox.com\\/\", \"snippet\": \"Xbox Support offers help for Xbox\
        \ One, Xbox 360, [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=20&mkt=en-us&offset=10&q=Best%20restaurants%20in%20Seattle
  response:
    body: {string: "{\"_type\": \"SearchResponse\", \"queryContext\": {\"_type\":\
        \ \"QueryContext\", \"originalQuery\": \"Best restaurants in Seattle\"}, \"\
        webPages\": {\"_type\": \"Web\\/WebAnswer\", \"webSearchUrl\": \"https:\\\
        /\\/www.bing.com\\/search?q=Best+restaurants+in+Seattle\", \"totalEstimatedMatches\"\
        : 17800000, \"value\": [{\"_type\": \"WebPage\", \"id\": \"https:\\/\\/api.cognitive.microsoft.com\\\
        /api\\/v7\\/#WebPages.0\", \"name\": \"Seattle 2017: Best of Seattle, WA Tourism\
        \ - TripAdvisor\", \"url\": \"https:\\/\\/www.tripadvisor.com\\/Tourism-g60878-Seattle_Washington-Vacations.html\"\
        , \"displayUrl\": \"https:\\/\\/www.tripadvisor.com\\/Tourism-g60878\", \"\
        snippet\": \"Seattle Tourism: TripAdvisor has 463,782 reviews of Seattle Hotels,\
        \ Attractions, and Restaurants making it your best Seattle resource.\", \"\
        dateLastCrawled\": \"2017-11-17T10:42:00.0000000Z\"}, {\"_type\": \"WebPage\"\
        , \"id\": \"https:\\/\\/api.cognitive.microsoft.com\\/api\\/v7\\/#WebPages.1\"\
        , \"name\": \"Downtown Seattle Restaurants | OpenTable\", \"url\": \"https:\\\
        /\\/www.opentable.com\\/seattle\\/downtown-seattle-restaurants\", \"displayUrl\"\
        : \"https:\\/\\/www.opentable.com\\/seattle\\/downtown-seattle-restaurants\"\
        , \"snippet\": \"Find Downtown Seattle restaurants in the Seattle area and\
        \ other neighborhoods such as Capitol Hill (Seattle), Ballard, West Seattle,\
        \ and more. Make restaurant ...\", \"dateLastCrawled\": \"2017-11-17T14:01:00.0000000Z\"\
        }, {\"_type\": \"WebPage\", \"id\": \"https:\\/\\/api.cognitive.microsoft.com\\\
        /api\\/v7\\/#WebPages.2\", \"name\": \"18 Seattle Restaurants With the Best\
        \ Views in Town, Summer ...\", \"url\": \"https:\\/\\/seattle.eater.com\\\
        /maps\\/seattle-restaurant-views-map\", \"displayUrl\": \"https:\\/\\/seattle.eater.com\\\
        /maps\\/seattle-restaurant-views-map\", \"snippet\": \"Seattle is made of\
        \ scenery. Mountai[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?mkt=en-us&q=Microsoft&responseFilter=news
  response:
    body: {string: "{\"_type\": \"SearchResponse\", \"queryContext\": {\"_type\":\
        \ \"QueryContext\", \"originalQuery\": \"Microsoft\"}, \"news\": {\"_type\"\
        : \"News\", \"id\": \"https:\\/\\/api.cognitive.microsoft.com\\/api\\/v7\\\
        /#News\", \"readLink\": \"https:\\/\\/api.cognitive.microsoft.com\\/api\\\
        /v7\\/news\\/search?q=Microsoft\", \"value\": [{\"_type\": \"NewsArticle\"\
        , \"contractualRules\": [{\"_type\": \"ContractualRules\\/TextAttribution\"\
        , \"text\": \"GeekWire\"}], \"name\": \"Pixvana raises $14M from Vulcan, Microsoft,\
        \ top VC firms for VR production platform\", \"url\": \"https:\\/\\/www.geekwire.com\\\
        /2017\\/pixvana-raises-14m-vulcan-microsoft-top-vc-firms-vr-production-platform\\\
        /\", \"image\": {\"_type\": \"ImageObject\", \"contentUrl\": \"https:\\/\\\
        /cdn.geekwire.com\\/wp-content\\/uploads\\/2017\\/11\\/pasted-image-0-1260x650.png\"\
        , \"thumbnail\": {\"_type\": \"ImageObject\", \"contentUrl\": \"https:\\/\\\
        /www.bing.com\\/th?id=ON.D8B618830F19AA182477129B96714A7D&pid=News\", \"width\"\
        : 700, \"height\": 361}}, \"description\": \"Madrona Venture Group investors\
        \ watch Pixvana\u2019s pitch in virtual reality. (Photo via Pixvana) What\
        \ better way to pitch a virtual or augmented reality startup idea than to\
        \ strap a bunch of headsets on the heads of venture capitalists and turn a\
        \ basic ...\", \"about\": [{\"_type\": \"Thing\", \"readLink\": \"https:\\\
        /\\/api.cognitive.microsoft.com\\/api\\/v7\\/entities\\/44d3d12d-c522-ee6d-fec5-37e6f770f615\"\
        , \"name\": \"Vulcan Inc.\"}, {\"_type\": \"Thing\", \"readLink\": \"https:\\\
        /\\/api.cognitive.microsoft.com\\/api\\/v7\\/entities\\/091d4028-2f4b-0804-872a-4d5b6205115e\"\
        , \"name\": \"Gnome-Rh\xF4ne 14M\"}, {\"_type\": \"Thing\", \"readLink\":\
        \ \"https:\\/\\/api.cognitive.microsoft.com\\/api\\/v7\\/entities\\/a093e9b9-90f5-a3d5-c4b8-5855e1b01f85\"\
        , \"name\": \"Microsoft\"}], \"provider\": [{\"_type\": \"Organization\",\
        \ \"name\": \"GeekWire\", \"image\": {\"_type\": \"ImageObject\", \"thumbnail\"\
        : {\"_type\": \"ImageObject\", \"contentUrl\": \"https:\\/\\/www.bing.com\\\
        /th?id=ON.SIR11201126f31b8cc7aee06a56fa7c7c058ce811ac&pid=News\"}}}], \"datePublished\"\
        : \"2017-11-21T00:10:00.0000000Z\", \"category\": \"ScienceAndTechnology\"\
        }, {\"_type\": \"NewsArticle\", \"contractualRules\": [{\"_type\": \"ContractualRules\\\
        /TextAttribution\", \"text\": \"eWeek\"}], \"name\": \"Microsoft Adding New\
        \ HDR and On-Screen Input Options to Windows 10\", \"url\": \"http:\\/\\/www.eweek.com\\\
        /innovation\\/microsoft-adding-new-hdr-and-on-screen-input-options-to-windows-10\"\
        , \"image\": {\"_type\": \"ImageObject\", \"contentUrl\": \"http:\\/\\/www.eweek.com\\\
     [...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-BingApis-SDK: ['true']
      X-BingApis-SDK-Client: [Python-SDK]
    method: GET
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?answerCount=2&mkt=en-us&promote=videos&q=Lady%20Gaga&safeSearch=Strict
  response:
    body: {string: "{\"_type\": \"SearchResponse\", \"queryContext\": {\"_type\":\
        \ \"QueryContext\", \"originalQuery\": \"Lady Gaga\"}, \"webPages\": {\"_type\"\
 [...]
